html,body{
	height: 100%;
	width: 100%;
	overflow: hidden;
}

*::-webkit-scrollbar {width: 8px;height: 8px;}
*::-webkit-scrollbar-thumb {border-radius: 4px;background: #d4d5d9;}
*::-webkit-scrollbar-track {background: #b3b3b3;border-radius: 4px;}
*::-webkit-scrollbar-corner {background:#fff;}

.clearfix:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both;
}
.clearfix {
	zoom: 1;
}
.icon {
    width: 16px;
    height: 16px;
    display: inline-block;
}

.buleTable .el-table__header-wrapper th {
	background: #409EFF;
	color: #fff;
}
.buleTable .el-table th>.cell {
	text-align: center;
}

a.blue {
	color: #3e94e1;
}
a.greed {
	color: #4ec463;
}
a.red {
	color: #f15755;
}

.mt0 {
	margin-top: 0;
}
.icon-close {
	font-size: 18px;
	cursor: pointer;
	margin-left: 2px;
}

.el-form-item {
	margin-bottom: 0;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px #fff inset;
	color: #333;
}

.dragBar{
	position: absolute;
	width: 4px;
	height: 100%;
	top: 0;
	right: 0;
	background: #ccc;
	cursor: e-resize;
	opacity: 0;
	transition: all .4s;
}

.dragBar:hover{
	opacity: .8;
}
.searchBox .el-input{
	width: 200px;
}